extends layout

block content
  <script type="text/javascript">var herp = !{JSON.stringify(data)};</script>
  H1= data.title
  iframe(width="853" height="480" src="//www.youtube.com/embed/"+ data.id + "" frameborder="0" allowfullscreen)
  div(class="col-md-6")
    p= 'mediaId: ' + data.mediaId
    p= 'type: ' + data.type
  div(class="col-md-6")
  p= 'flag: ' + data.flag
  p= 'id: ' + data.id
  script(src="https://raw.github.com/jprichardson/string.js/master/lib/string.min.js")
  script(src="/color-checker.js")
    
